body {
  margin: 0px;
  color:black;
  font-size: 17px;
  }


/* Header*/

.header {
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0px;
  height:80px;
  background-color: white;
}

.logo {
  display: inline-flex;
  flex-grow: 1;
  flex-shrink:1;
  padding-left: 25px;
  width: 250px;
  overflow: auto;
}

.text{
  color: MediumAquamarine;
  display: flex;
  align-self: center;
  padding-left: 10px;
  }

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink:1;
  padding-left: 0px;
  height: 80px;
}

.links {
  display: flex;
  display: inline-block;
  margin: 25px;
  height: 16px;
  flex-direction: row;
}

.links a{
  color: black;
  margin: 30px;
}

/*Main section*/

.container{
  font-family: Georgia, sans-serif;
  width: 1286px;
  overflow: scroll;
  position: relative;
  top: 75px;
  display:flex;
  flex-direction: row;
    }

.large {
  display: inline-flex;
  width: 630px;
  border:1 solid black;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 35px;
}

.horizontally{
  display: flex;
  display: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orca,
.burger{
  display: flex;
  width: 300px;
  margin-bottom: 20px;
  flex-direction: column;
}

.orca{
  order:1;
}
.burger{
  order:2;
}

.orca h1,
.burger h1{
  margin-bottom: 0px;
}

.pic{
  display: flex;
  order:3;
}

.pic2{
  display: flex;
  order:4;
  }

.image{
  background-image: url("../images/img-story-main.png");
  height: 280px;
  display: flex;
  }

.so{
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.pic{
  background-image: url("../images/fall.png");
  display:flex;
  height:280px;
  width: 300px;
  margin-right: 20px;
  background-repeat: no-repeat;
}

.earth p {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.pic2 {
  background-image: url("../images/camera.png");
  display:flex;
  width: 300px;
  height:280px;
  background-repeat: no-repeat;
}

.camera p{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  width: 300px;
}

.medium {
  display: inline-flex;
  width: 300px;
  height: 1390px;
  flex-direction:column;
  align-self: center;
  margin-right: 30px;
  margin-top: 35px;
}

.pic3{
  background-image: url("../images/img-story-cat.png");
  display: flex;
  height:300px;
  width:300px;
  margin-top:12px;
  align-items: center;
}
.control p{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  }

.small {
  display: inline-flex;
  width: 240px;
  flex-direction:column;
  margin-right: 30px;
  margin-top: 35px;
}

.pic4{
  background-image: url("../images/img-news-bite.png");
  display:flex;
  height:250px;
}

h1{
    font-size: 30px;
    margin-top:0px;
}

.bites h1{
  font-style: bold;
  font-size: 17px;
  text-align: center;
}
