body {
  margin: 0px;
  color:black;
  font-size: 17px;
  }

  *{
  margin: 0px;
  padding: 0px;
}

/* Header*/
.header {
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0px;
  height:80px;
}

.logo {
  display: inline-flex;
  flex-grow: 1;
  flex-shrink:1;
  padding-left: 25px;
  width: 250px;
  }

.text{
  color: MediumAquamarine;
  display: flex;
  align-self: center;
  padding-left: 10px;
  }

.nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink:1;
  padding-left: 0px;
  height: 80px;
}

.links {
  display: flex;
  display: inline-block;
  margin: 25px;
  height: 16px;
  flex-direction: row;
}

.links a{
  color: black;
  margin: 30px;
}

/*Main section*/
main{
  position: relative;
}
.container{
  font-family: Georgia, sans-serif;
  width: 1230px;
  height:1100px;
  margin-bottom: 75px;
  right:0px;
  padding-top: 115px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  }

 /*Large column*/
.large {
  display: inline-flex;
  width: 630px;
  height:1100px;
  flex-direction: column;
  margin-bottom: 150px;
  }

.image{
  background-image: url("../images/img-story-main.png");
  height: 280px;
  display: flex;
  margin-bottom: 20px;
  }

  .so{
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
  }

.horizontally{
  display: flex;
  display: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orca,
.burger{
  display: flex;
  width: 300px;
  margin: 40px 0px;
  flex-direction: column;
  }

.orca{
  order:1;
}

.burger{
  order:2;
}

.orca h1,
.burger h1{
  margin-bottom: 0px;
}

.pic{
  display: flex;
  order:3;
  }

.pic2{
  display: flex;
  order:4;
  }

.pic{
  background-image: url("../images/fall.png");
  margin-right: 20px;
  }

 .pic,
 .pic2{
   display:flex;
   height:300px;
   width: 300px;
   background-repeat: no-repeat;
   margin-bottom: 40px;
 }

.pic2{
  background-image: url("../images/camera.png");
  }

.earth p {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.camera p{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  align-items: flex-start;
  width: 300px;
}

/*Medium column*/
.medium {
  display: inline-flex;
  width: 300px;
  height: 1100px;
  flex-direction:column;
  align-self: center;
  }

.pic3{
  background-image: url("../images/img-story-cat.png");
  display: flex;
  height:300px;
  width:300px;
  margin-top:40px;
  margin-bottom:12px;
  align-items: center;
}

.control p{
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
}

/*Small*/
.small {
  display: inline-flex;
  width: 240px;
  height: 1100px;
  flex-direction:column;
  margin: 0px;

}

.pic4{
  background-image: url("../images/img-news-bite.png");
  display:flex;
  height:250px;
}

h1{
    font-size: 30px;
    margin-top:0px;
}

.bites h1{
  font-style: bold;
  font-size: 17px;
  text-align: center;
  margin-bottom:30px;
}

.bites{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  position:relative;
  }

.por{
  font-size: 16px;
  font-weight: bold;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  text-align: left;
  color: DimGray;
  display:flex;
  flex-direction: column;
  width: 260px;
  }

.por p{
  border-bottom: 1px solid DimGray;
  padding: 11px 20px;
}

.footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 350px;
  position: relative;
    }

  #gof{
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  }

.times p{
   font-family: Georgia;
   font-size: 16px;
   font-weight: bold;
   color: white;
   display:flex;
    }

  .times{
    display: flex;
    width: 110px;
    height: 16px;
    border-right: 2px solid white;
  }

.footer-links{
  display: flex;
  padding-left: 40px;
}
.footer-links a{
  display: inline-block;
  color: black;
  padding-right: 20px;
}




}
